/*! ----------
Style sheet for Bryan Ramme's Resume Website
Author: Orlando Morales
Email: admin@ibuildweb.solutions
Last Date Modified: 2021/05/19
------------- */

/* -------------
Sections
 - Fonts
 - Global
 - Components
---------- */

/*----- Fonts -----*/
@font-face {
    font-family: Mate;
    src: url(../fonts/MateSC-Regular.ttf);
}

/*----- Global -----*/
html, body {
    margin: 0;
}
h1 {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Mate;
}
#nav lh {
    font-size: 2rem;
}
#nav li {
    list-style-type: none;
    text-align: left;
}
#nav a {
    text-decoration: none;
    color: #fff;
}
.bg-blue {
    background-color: #3333ff;
    background-image: linear-gradient(#3333ff, #80bfff);
    color: #ffffff;
}
.bg-white {
    background-color: #ffffff;
    color: #3333ff;
}


/*----- Desktop -----*/
#desktop .container-fluid {
    padding: 0;
}
#desktop .row {
    margin-left: 0;
    margin-right: 0;
}
#desktop {
    text-align: center;
}
#desktop h2 {
    font-size: 5rem;
}
/*----- Intro -----*/
#intro {
    padding-top: 20px;
    border-bottom: 1px solid #00ff00;
}
img.intro-img {
    display: block;
    width: 50%;
    height: auto;
    max-width: 400px;
    margin: auto;
}
/*----- Education -----*/
#education {
    margin-top: 200px;
} 
/*----- Skills -----*/
.skill {
    margin-top: 100px;
}
#skills h3 {
    margin-top:200px;
}
.skills-img {
    display: block;
    width: 50%;
    height: auto;
    max-width: 200px;
    margin: auto;
}

/*----- Experience -----*/
#logos-banner {
    padding: 20px;
    margin-top:200px;
}
#logos-banner img {
    height: 60px;
    width: auto;
    margin: auto;
}
.work-logos {
    width: 90%;
    height: auto;
    max-width: 200px;
    margin: auto;
}

/*----- Contact -----*/
#contact {
    padding: 200px 0;
}
#contact img {
    display: block;
    width: 50%;
    height: auto;
    max-width: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/*----- Progress Bar -----*/
#footer-progress-bar {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient( #ffffff, #e6e6e6);
    color: #3333ff;
    width: 100%;
}
#footer-progress-bar .col {
    width: 25%;
    font-size: 5rem;
    padding: 20px 0;
}