/*! ----------
Style sheet for Bryan Ramme's Resume Website
Author: Orlando Morales
Email: admin@ibuildweb.solutions
Last Date Modified: 2021/05/19
------------- */

/* -------------
Sections
 - Fonts
 - Global
 - Mobile
 - Desktop
---------- */

/*----- Fonts -----*/
@font-face {
    font-family: Mate;
    src: url(../fonts/MateSC-Regular.ttf);
}

/*----- Global -----*/
html, body {
    height: 100%;
    margin: 0;
}
h1 {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Mate;
}
#nav lh {
    font-size: 2rem;
}
#nav li {
    list-style-type: none;
    text-align: left;
}
#nav a {
    text-decoration: none;
    color: #fff;
}
#mobile {
    display: block;
}
#desktop {
    display: none;
}
@media screen and (min-width:768px) {
    #mobile {
        display: none;
    }
    #desktop {
        display: block;
    }
}

/*----- Mobile -----*/
.callout {
    background-color: #3333ff;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.callout {
    padding: 10px;
}
.callout h2 {
    font-size: 1rem;
}
#nav h2 {
    color: #e6e6e6;
    font-size: 1.25rem;
}
#nav p {
    line-height: 0.8;
}
.card {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.card-body {
    padding: 0;
}
.card-title {
    color: #ffffff;
    background-color: #3333ff;
    background-image: linear-gradient(#3333ff, #80bfff);
    padding: 1rem;
}
.card-subtitle, .card-text, .card-dates {
    margin: 1rem;
}
/*----- Desktop -----*/
#desktop .container-fluid {
    padding: 0;
}
#desktop .row {
    margin-left: 0;
    margin-right: 0;
}
.topWireframeText {
    background-color: #000;
    color: #99ffcc;
    font-weight: 700;
    text-align: center;
}
#desktop {
    text-align: center;
}
#desktop h2 {
    font-size: 5rem;
}
#desktop .row-full-height {
    width: 100%;
    height: 100%;
}
#desktop .row-full-height .col {
    height: 800px;
}
.skill {
    margin-top: 50px;
}
.work-logos {
    width: 90%;
    height: auto;
    max-width: 200px;
    margin: auto;
}